<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Alex Yanai Stopwatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/application.css" media="all"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/application.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class='two columns'></div>
        <div class='ten columns'>
          <div class='row top-row'></div>
          <div class='row stopwatch'>
            <div class='stopwatch-body'>
              <div class='time'>00:00:0</div>
            </div>
            <div class='button-div'>
              <button class='start'>Start</button>
              <button class='lap'>Lap</button>
            </div>
            <ul id='lap-list'></ul>
          </div>
          <div class='row bottom-row'></div>
        </div>
        <div class='two columns'></div>
      </div>
    </div>
  </body>
</html>
